*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
/entry/.preview
.cxx
/node_modules
/.clangd
/.clang-format
/.clang-tidy
/entry/src/main/js/default/common/momentplay_res
/entry/src/main/resources/rawfile/momentplay_res
/entry/src/main/resources/base/media/icon.png
/entry/src/main/resources/base/media/icon_small.png